* {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;

  position: relative;
}

h2 {
  margin: 0px auto;
  font-size: 16px;
  color: #c81133;
  display: block;
  font-weight: bold;
}

h3 {
  margin: 0px auto;
  font-size: 18px;
  color: #c81133;
  display: block;
  font-weight: bold;
}

/*Text Colors */
a {
  color: #393636;
  white-space: nowrap;
}

a:hover {
  color: #c81133;
}

/* .hover-italic {
} */
.hover-italic:hover {
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.hover-large:hover {
  scale: 1.1;
}

.cl-primary {
  color: #c81133 !important;
}

.cl-hover-primary:hover {
  color: #c81133 !important;
}

.cl-secondary {
  color: #68e5ae;
}

.cl-black-base {
  color: red;
}

.border-primary {
  border: solid 2px #c81133 !important;
}

.bg-primary {
  background-color: #c81133 !important;
}

.bg-secondary {
  background-color: #fff !important;
}

.coinouter {
  width: 30px;
  height: 30px;
  border: 2px solid #e5a930;
  border-radius: 50%;
  color: #e5a930;
  box-shadow: 0 0 0.625em #e5a930, 0 0 0.5em #e5a930, 0 0 0.75em #e5a930;
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

.f-jp {
  font-family: source-han-sans-japanese, sans-serif;
  word-break: break-word;
}

nav > ul > li > a::before {
  background: transparent none repeat scroll 0 0;
  background-color: #c81133;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s;
  width: 100%;
}

nav > ul > li:hover a::before {
  transform: scale3d(1, 1, 1);
  transition-duration: 0.3s;
}

nav > ul > .active {
  background-color: #c81133;
}

nav > ul > .active > a {
  color: white;
}

nav > ul > li > ul {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  padding: 0 20px;
  position: absolute;
  text-align: left;
  top: 100%;
  transition: opacity 0.3s linear 0s;
  visibility: hidden;
  -webkit-transition: 0.3s linear 0s;
  transition-duration: 0.3s linear 0s;
}

nav > ul > li > ul > li {
  border-bottom: 1px solid rgba(131, 131, 131, 0.1);
}

nav > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  z-index: 99;
  -webkit-transition: 0.3s linear 0s;
  transition: 0.3s linear 0s;
}

.swiper {
  width: auto;
  height: auto;
}

.home.swiper-slide {
  margin-top: auto;
  margin-bottom: auto;
}

.home.swiper-slide .col-7 {
  padding: 30px;
}

.home.swiper-slide img {
  padding: 5px;
  width: 100% !important;
  /* object-fit: cover; */
  object-fit: contain;
  max-height: 100%;
  /* height: 300px; */
}

.donor.swiper-slide img {
  padding: 5px;
  width: 100% !important;
  object-fit: cover;
  max-height: 100%;
  height: 300px;
}

#footer {
  background: #f1eef0;
  padding: 0 0 30px;
  color: #000;
  font-size: 14px;
}

.footer-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#footer .footer-top {
  background: #fff;
  /* border-top: 1px solid #474747; */
  /* border-bottom: 1px solid #474747; */
  padding: 60px 0 30px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 700;
  color: #c81133;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.social-links a {
}

.footer-links ul {
  padding: 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  padding-top: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #c81133;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul a {
  color: #000;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

/* activities */
.activity-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin: auto;
}

@media (max-width: 940px) {
  .activity-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}
.card-body h4 {
  margin: 10px 0;
}
.card-body p {
  font-size: 14px;
  margin: 0 0 40px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}
/* Message from the Founder */
.msgcard-body {
  background-color: #c81133;
}
.msgcard-body p {
  line-height: 2.5rem;
  color: #fff;
}
.founder-img {
  width: 300px;
}
.msg-footer-name {
  text-align: right;
}
.msgcard-img {
  width: 400px;
  margin: 0 20px;
  float: right;
}
.founder-info {
  padding-top: 60px;
}
.founder-bio {
  padding: 30px 0;
}
.founder-bio ul li {
  line-height: 2.5rem;
  font-size: 0.95rem;
  letter-spacing: -0.5px;
}
.founder-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}
/* History */
.history-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.donation-card * {
  text-align: left;
}
.donationcard-img {
  width: 100%;
  height: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: center;
  transform: scale(0.7);
  border-radius: 10px;
}
.donation-textbox {
  line-height: 2rem;
}
.monthly-donation-card .donation-textbox {
  padding-left: 3rem;
}
.donation-title,
.donation-subtitle {
  font-weight: bold;
  color: #c81133;
}
.donation-title {
  font-size: 20px;
}
.donation-subtitle {
  font-size: 14px;
}
.donation-subtitle::after {
  content: "";
  position: absolute;
  width: 95%;
  transform: scaleX(0);
  height: 4px;
  bottom: 10px;
  left: 0;
  background-color: #c81133;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in;
}
.onetime-donation-card:hover .donation-subtitle::after,
.monthly-donation-card:hover .donation-subtitle::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.onetime-donation-card:hover .donationcard-img,
.monthly-donation-card:hover .donationcard-img {
  transform: scale(1);
  transition: 0.5s ease-out;
  border-radius: unset;
}
.donate-now-btn {
  border-radius: 5px;
  background-color: #c81133;
  padding: 5px 20px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.donate-now-btn:active {
  transform: scale(0.9);
}
.history-chart {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
/* Mission */
.jpheart-title {
  padding-bottom: 10px;
}
.jpheart-description .title-bar,
.jpheart-credo .title-bar {
  width: 6%;
  min-width: 80px;
  border-bottom: 5px solid #c81133;
}
.jpheart-description:hover,
.jpheart-credo:hover {
  box-shadow: 0px 5px 10px 0px rgba(62, 62, 62, 0.5);
  transition: 0.3s ease-in-out;
}
.jpheart-description:hover .title-bar,
.jpheart-mission:hover .title-bar,
.jpheart-credo:hover .title-bar {
  width: 100%;
  transition: width linear 0.3s;
}
.jpheart-textbox p {
  line-height: 2.5rem;
}
.jpheart-mission * {
  color: #fff;
  line-height: 2rem;
}
.mission-text {
  float: right;
}
.jpheart-mission .title-bar {
  width: 6%;
  min-width: 80px;
  border-bottom: 5px solid #fff;
}
.jpheart-mission:hover {
  box-shadow: 0px 5px 10px 0px rgba(62, 62, 62, 0.5);
  transition: 0.3s ease-in-out;
}
.jpheart-credo ul.list-mark li {
  list-style-type: disc;
  line-height: 2rem;
}
.jpheart-img img,
.jpheart-mission img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}
/* Current Projects */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}
.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 4px;
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}
.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}
.projcard-textbox * {
  position: relative;
}
.projcard-title {
  font-family: "Voces", "Open Sans", arial, sans-serif;
  font-size: 24px;
}
.projcard-subtitle {
  font-family: "Voces", "Open Sans", arial, sans-serif;
  color: #888;
}
.projcard-bar {
  left: -2px;
  width: 100%;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar {
  background-color: #0088ff;
}
.projcard-blue::before {
  background-image: linear-gradient(-70deg, #0088ff, transparent 50%);
}
.projcard-blue:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #0088ff, transparent 50%);
}
.projcard-red .projcard-bar {
  background-color: #d62f1f;
}
.projcard-red::before {
  background-image: linear-gradient(-70deg, #d62f1f, transparent 50%);
}
.projcard-red:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #d62f1f, transparent 50%);
}
.projcard-green .projcard-bar {
  background-color: #40bd00;
}
.projcard-green::before {
  background-image: linear-gradient(-70deg, #40bd00, transparent 50%);
}
.projcard-green:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #40bd00, transparent 50%);
}
.projcard-yellow .projcard-bar {
  background-color: #f5af41;
}
.projcard-yellow::before {
  background-image: linear-gradient(-70deg, #f5af41, transparent 50%);
}
.projcard-yellow:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #f5af41, transparent 50%);
}
.projcard-orange .projcard-bar {
  background-color: #ff5722;
}
.projcard-orange::before {
  background-image: linear-gradient(-70deg, #ff5722, transparent 50%);
}
.projcard-orange:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #ff5722, transparent 50%);
}
.projcard-brown .projcard-bar {
  background-color: #c49863;
}
.projcard-brown::before {
  background-image: linear-gradient(-70deg, #c49863, transparent 50%);
}
.projcard-brown:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #c49863, transparent 50%);
}
.projcard-grey .projcard-bar {
  background-color: #424242;
}
.projcard-grey::before {
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
}
.projcard-grey:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-customcolor .projcard-bar {
  background-color: var(--projcard-color);
}
.projcard-customcolor::before {
  background-image: linear-gradient(
    -70deg,
    var(--projcard-color),
    transparent 50%
  );
}
.projcard-customcolor:nth-child(2n)::before {
  background-image: linear-gradient(
    -250deg,
    var(--projcard-color),
    transparent 50%
  );
}
.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcard-tag {
  display: inline-block;
  background: #e0e0e0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: "";
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #e0e0e0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

.masonary-grid {
  /* background: yellow; */
  display: grid;
  height: 100vh;
  padding:0.5em;
}

.masonary-container {
  /* background: black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-auto-flow: column dense;
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 0.88;
  gap: 5px;
  padding: 2vmin;
  margin: auto;
  border-radius: 10px;
}

.masonary-container img {
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 0 0 1px white;
  border-radius: 5px;
  display: block;
}
.masonary-container img:nth-child(1) {
  grid-row: 1 / span 17;
  grid-column: 1;
}
.masonary-container img:nth-child(2) {
  grid-row: 18 / span 8;
  grid-column: 1;
}
.masonary-container img:nth-child(3) {
  grid-row: 1 / span 12;
  grid-column: 2;
}
.masonary-container img:nth-child(4) {
  grid-row: 13 / span 12;
  grid-column: 2;
}
.masonary-container img:nth-child(5) {
  grid-row: 1 / span 8;
  grid-column: 3;
}
.masonary-container img:nth-child(6) {
  grid-row: 9 / span 8;
  grid-column: 3;
}
.masonary-container img:nth-child(7) {
  grid-row: 17 / span 8;
  grid-column: 3;
}
